<div class="principal">
    <h3>Resposta 1</h3>

      <p class="lead">
          As tecnologias de components torna o projeto mais complexo, por outro lado, muito mais organizado e segregado, facilitando a manutenção
          de um problema num modulo, componente e etc.

          As 4 tecnologias são:
            Custom Elements
            Shadow DOM
            HTML Templates
            HTML Imports
      <p class="lead">
      No angular conseguimos encontrar todas essas tecnologias
      <p class="lead">
      Utilizaremos ele no projeto pra deixar o mesmo mais ágil e melhor e padronizado.
      </p>

      <h3>Resposta 2</h3>

      <p class="lead">
          Ao criar aplicações mais avançadas com Angular, mais cedo ou mais tarde vamos ter que lidar com eventos DOM, como clique do mouse, movimentos e etc.

          Um sistema imperativo você precisa mandar as ações executarem, em um sistema reativo as ações devem acontecer a partir de uma ação anterior, como um evento, normalmente se utiliza o padrão observer para implementações de tais recursos.


      </p>
      </p>

      <hr>

  </div>
